body{
    background-color: rgb(255, 0, 0);
    }
h1{
    color:rgb(255, 255, 255);
    font-size: 32px
}
h2{
    color:rgb(255, 255, 255);
    font-size:24px
}
p1{
    color:whitesmoke;
    font-size: 17px;
}
p2{
    color:whitesmoke;
    font-size: 17px;
}
p3{
    color:whitesmoke;
    font-size: 17px;
}
p4{
    color:whitesmoke;
    font-size: 17px;
}
p5{
    color:whitesmoke;
    font-size: 17px;
}
